In [6]:
#Assignment 4

#Task 1
#Create two list and join those two list
a=[1,2,3,4,5]
b=[6,7,8,9,10]
print("The lists before joining !!!")
print(a,"\n",b,"\n")
a=a+b
print('The list after joining : \n',a)

The lists before joining !!!
[1, 2, 3, 4, 5]
 [6, 7, 8, 9, 10]

The list after joining :
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#Task 2
n=int(input("Enter the value : "))
if(n%2==0):
  print("Even")
else:
  print("Odd")

Enter the value : 56
Even

In [10]:
#Task 3
#Create a dictionary with 3 keys and 2 values for each key
a={
    '1':['Apple', 'Mango'],
    '2':['Banana','Jackfruit'],
    '3':['grapes','papaya']
}
print(a)
print(type(a))

{'1': ['Apple', 'Mango'], '2': ['Banana', 'Jackfruit'], '3': ['grapes', 'papaya']}
<class 'dict'>

In [12]:
#Task 4
#Create a function with If statement whis is used to find the odd numbers
def odd(n):
  if n%2!=0:
    return "Odd"
  else:
    return "Even"
print(odd(int(input("Enter the value : "))))

Enter the value : 9999
Odd

In [15]:
#Task 5
#Write a Python function to sum all the numbers in a list.
"""Sample List : (8, 2, 3, 0, 7)
Expected Output : 20"""
a=[8, 2, 3, 0, 7]
def sum1(b):
  c=0
  for i in b:
    c=c+i
  return c
print("The Given list : ",a)
print("Sum of values in list : ",sum1(a))

The Given list :  [8, 2, 3, 0, 7]
Sum of values in list :  20